::-webkit-scrollbar-track {
    background: none; 
}

* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

/* navbar */

html,
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  top: 0;
  width: 100%;
  position: fixed;
  background: white;
  z-index: 999;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  text-align: center;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  display: block;
  width: 100px;
  padding: 15px 0;
  float: left;
}

#logo2{
  display:hidden;
}

.logo:hover {
  opacity: 0.5;
  transition: ease-in-out 250ms;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

nav li {
  display: inline-block;
  margin: 0 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

nav a {
  color: #0d2235;
  text-decoration: none;
  text-tranform: uppercase;
  display: inline-flex;
}

/* hover animation */

nav a:hover {
  color: #bc0203;
  transition: .5s ease;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropbtn {
  margin: 0 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #0d2235;
  text-decoration: none;
  text-tranform: uppercase;
  display: inline-flex;
  border: none;
  background: none;
  font-size: 15px;
  outline: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #bc0203;
  transition: .5s ease;
}

.dropdown-content {
    float: left;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    transition: .5s ease;
    background-color: #fcfcfc;
}

/* nav burger */

.toggle{
  padding: 10px 20px;
  background: #0d2235;
  width: 100%;
  color: white;
  text-align: right;
  box-sizing: border-box;
  font-size: 30px;
  display: none;
}

.show {
  display:block;
}

.deskno{
  display:none;
}

@media only screen and (max-width: 950px){
  
  .deskno{
  display:block;
  }
  
  .dropdown{
    display:none;
  }
  
  #logo{
    display: none;
  }
  
  .logo{
    padding-left: 10px;
  }
  
  .toggle{
    display: block;
  }
  
  nav ul{
    width: 100%;
    display: none;
  }
  
  nav li{
    display: block;
    text-align: center;
  }
  
  .active{
    display:block;
  }
} 

/* footer */

.footer{
  margin-right: 0 auto;
  clear: both;
  bottom: 0;
  position: fixed;
  width: 25%;
  z-index: 999;
}

.legality{
  background: #0d2235;
  color: white;
  width: 100%;
  text-align: center;
  clear: both;
  font: 10pt verdana;
  border-top: 1px solid white;
  border-right: 1px solid white;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* New Home */

.b-img{
  max-width: 681px;
  width: 100%;
  height: auto;
}

.iphone{
  padding-top: 5em;
  padding-bottom: 5em;
}

.b1{
  background-color: #fafafa;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

.b2{
  background-color: #e8e3e3;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 3em;
}

.b3{
  background-color: #d29490;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

.b-img2{
  max-width: 493px;
  width: 100%;
  height: auto;
}

.b4{
  margin: auto;
  width: 100%;
  background-color: black;
}

.b4-1, .b4-2, .b5-1, .b5-2{
  float: left;
  display: inline-block;
  width: 50%;
  padding-top: 5em;
  padding-bottom: 5em;
}

.b4-1{
  background-color: #e0e5f5;
}

.b4-2{
  background-color: #faebea;
}

.b5-1{
  background-color: #92a3d9;
}

.b5-2{
  background-color: #dcdde0;
}

/* account */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding-top: 12em;
  margin: auto;
}

.lform {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.lfield {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.lbutton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0d2235;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  -webkit-appearance: none;
}

.lbutton:hover,.lbutton:active,.lbutton:focus {
  background: #123346;
}

.lform .lmessage {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.lform .lmessage a {
  color: #BC0203;
  text-decoration: none;
}

.lcontainer {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.lcontainer:before, .lcontainer:after {
  content: "";
  display: block;
  clear: both;
}

.lcontainer .linfo {
  margin: 50px auto;
  text-align: center;
}

.error {
  color: #BC0203;
}

@media only screen and (max-width: 950px) {
  .login-page {
    padding-top: 6em;
    margin: auto;
  }
} 

.form-page {
  padding-top: 10em;
}

.aform {
  overflow: auto;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  width:90%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.account-left, .account-right{
  width:45%;
}

.account-left{
  float:left;
  padding-left: 5em;
}

.account-right{
  float:right;
  padding-right: 5em;
}

@media only screen and (max-width: 950px) {
  .account-left, .account-right{
    width:90%;
    padding-right: 0;
    padding-left: 0;
    margin: auto;
    float:none;
  }
  
  .account-right{
    padding-top: 2em;
  }
  
  .aform{
    height: 60em;
  }
}

/* admin referrer */

.adminform1 {
  position: relative;
  background: #FFFFFF;
  margin: 0 auto 100px;
  width:90%;
  overflow: auto;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.refer {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0d2235;
  width: 97%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  -webkit-appearance: none;
}

.refer:hover,.refer:active,.refer:focus {
  background: #123346;
}

@media only screen and (max-width: 950px){
  
  .refer{
    width:90%;
  }
}

/* inventory list */

.admin-page {
  padding-top: 11em;
}

.adminform2 {
  overflow-x: auto;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.additem{
  color: #0d2235;
}

.additem:hover{
  color: #72b7bc;
}

.additem:link, .additem:active, .additem:visited{
  text-decoration: none;
}

.addingfields{
  width:90%;
  padding-right: 0;
  padding-left: 0;
  margin: auto;
  float:none;
}

/* store */

.wrapper2 {
  left: 300px;
  right: 1000px;
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1500px;
  margin: 30px auto 0;
  text-align: left;
}

.product {
  float: left;
  width: 275px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  position: relative;
}
.container-prod {
  height: 320px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.container-prod:hover {/*
  -moz-box-shadow: 0px 0px 5px 0px #333;
  -webkit-box-shadow: 0px 0px 5px 0px #333;
  box-shadow: 0px 0px 5px 0px #333;*/
  opacity: 0.75;
}

.image {
  height: 270px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.title {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #8ab4b3;
  color: #ffffff;
  font-size: 15px;
  position: relative;
}

/* navigation on left */

.toggle2{
  z-index: 502;
  position: fixed;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 35px;
  width: 25px;
  background-color: #ededed;
  color: #0d2235;
  box-sizing: border-box;
  font-size: 30px;
  display: none;
  margin-left: 0;
}

.toggle-animate{
  padding-right: 46px;
  padding-left: 175px;
  background-color: #142c42;
  color: white;
}

.navigation-title{
  text-decoration:none;
  text-align: center;
  font-size:25px;
}

.navigation {
  z-index: 500;
  position: fixed;
  margin-left: 17px;
  float: left;
  height: 1000px;
  background-color: #ededed;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ededed;
}

.navigation li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


.navigation li a:hover {
    background-color: #0d2235;
    color: white;
}

.search-button{
  float:right;
  width:25%;
  border: none;
  padding: 3.2px;
  padding-top: 6.7px;
  padding-bottom: 6.7px;
}

.search{
  display: inline-block;
  float:right;
  width: 100%;
}

@media only screen and (max-width: 950px){
  
  .active2{
    display: block;
  }
  
  .hider{
    display: none;
  }
  
  .navigation{
    margin: auto;
    padding-left: 20px;
  }
  
  .toggle2{
    display: block;
  }
  
  .wrapper2{
    padding-left:50px;
   left: 0px;
   right: 0px;
  }
}

/* product details */

@media only screen and (max-width: 1100px){
  
  .goback{
    display: none;
}
  
}

.goback{
  transition: 0.2s ease;
  text-decoration: none;
  color: #0d2235;
}

.goback:hover{
  color: white;
}

.product-page {
  padding-top: 11em;
}

.productform {
  overflow-x: auto;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* product details */

@media only screen and (min-width: 1200px){
  
  .product-page{
    left: 100px;
    right: 1000px;
  }
  
  .productform{
   padding-right:50px;
   left: 0px;
   right: 0px;
  }
}

.product-page{
  overflow-x: hidden;
  overflow: hidden;
  min-width: 318px;
  width: 100%;
  max-width: 2000px;
  position: relative;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 30px auto 0;
}

.productform {
  overflow-x: hidden;
  min-width: 318px;
  position: relative;
  z-index: 1;
  background: #8ab4b3;
  color: white;
  margin: 0 auto 100px;
  width: 80%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.product-details{
  width: 100%;
  display: inline-block;
}

.product-image{
  max-height: 500px;
  max-width: 500px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 50px 0 rgba(0, 0, 0, 0.24);
  margin-right: 10px;
  min-width: 318px;
  float: left;
}

.product-text{
  float: left;
  position: relative;
  width: 60%;
  text-align: left;
  display: inline-block;
}


.product-text-details{
  overflow: auto;
  color: white;
  width: 80%;
  height: 200px;
  padding: 12px 20px;
  padding-left: 20px;
  box-sizing: border-box;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: none;
  border-left: none;
  background-color: #95bab9;
  font-size: 16px;
  resize: none;
}

@media only screen and (max-width: 1675px){
  .product-text{
    width: 50%
  }
}

@media only screen and (max-width: 1360px){
  .product-text{
    width: 40%
  }
}

@media only screen and (max-width: 1079px){
  .product-page{
    width: 59%;
  }
  .product-text{
    text-align: center;
    margin-left: 125px;
  }
  .product-image{
    max-width:100%;
  }
  .product-text-details{
    width: 100%;
  }
  .product-page{
    left: 200px;
  }
}

@media only screen and (max-width: 750px){
  .product-text{
    text-align: center;
    margin-left: 83px;
  }
  .product-page{
    left: 150px;
  }
}

@media only screen and (max-width: 830px){
  
  .p-h1{
    font-size: 30px;
  }
  .p-h2{
    font-size: 25px;
  }
  
}

@media only screen and (max-width: 575px){
  
  .product-page{
    left: 125px;
  }
}

@media only screen and (max-width: 525px){
  .product-page{
    left: 100px;
  }
}

@media only screen and (max-width: 460px){
  .product-page{
    left: 70px;
  }
}

@media only screen and (max-width: 430px){
  .product-page{
    left: 50px;
  }
}

@media only screen and (max-width: 392px){
  .product-page{
    left: 30px;
  }
}

@media only screen and (max-width: 365px){
  .product-page{
    left: 10px;
  }
}

@media only screen and (max-width: 350px){
  .product-page{
    left: 0px;
  }
}

/* cart */

.cart-page{
  overflow: auto;
  max-width: 600px;
  margin: auto;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
.cart-page th {
  color:#D5DDE5;;
  background:#0d2235;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.cart-page th:first-child {
  border-top-left-radius:3px;
}
 
.cart-page th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.cart-page tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.cart-page tr:hover td {
  background:#8ab4b3;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
.cart-page tr:first-child {
  border-top:none;
}

.cart-page tr:last-child {
  border-bottom:none;
}
 
.cart-page tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
.cart-page tr:nth-child(odd):hover td {
  background:#8ab4b3;
}

.cart-page tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.cart-page tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.cart-page td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.cart-page td:last-child {
  border-right: 0px;
}

.cart-page th.text-left {
  text-align: left;
}

.cart-page td.text-left {
  text-align: left;
}

@media only screen and (max-width: 800px){
  
  .cart-page td{
  font-size:8px;
  }
  
  .cart-page th {
  font-size:11.5px;
  padding:12px;
}
  
}

.paypal{
  width: 150px;
}

/* list search */

.search-button2{
  display: block;
  width:25%;
  border: none;
  padding: 3.2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.search2{
  display: block;
  width: 50%;
}

/* chat design */

.messages{
  background: #f2f2f2;
  border: 1px solid lightgrey;
  width: 100%;
  height: 300px;
  padding: 10px;
  overflow-y: scroll;
}

.message a{
  float: left;
  text-align: left;
  font-size: 15px;
  color: grey;
}

.message p{
  text-align: left;
  font-size: 15px;
  margin: -5px 0;
}

#message:focus{
  transition: 1s ease-out;
  border: 0.5px solid lightgrey;
}